// ==========================================================================
// Helpers
// ==========================================================================

// POSITIONING ==========================

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


// ELEMENTS

%list-plain {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

%btn-transparent {
	outline: none;
	border: none;
	background: none;
}













