// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks 
$font-url--google        : 'https://fonts.googleapis.com/css?family=Josefin+Sans:400,700';
$font-family--primary    : 'Josefin Sans', Helvetica, Arial, sans-serif;

// Font Weights 

$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;


// Colors ===========================================

$sea-ht : 20000px;
$deep-blue : rgb(21, 62, 81);

// Fix grey transparencies for Safari
$transparent	: rgba(255,255,255,0);


// Border radius

$br--default    : .4em;
$br--round      : 50%;

// Transitions

$trns-duration  : .4s;


// Path to Assets

$path--rel      : "../img";


// Breakpoints

$brkpoint-sm	: 1px;
$brkpoint-md	: 767px;
$brkpoint-lg	: 1100px;

// Nav 

$nav-height		: 50px;

$nav-li-ht		: 40px;


// Border

$border--white	: dashed 1px white;