// ====================================
// Base and layout
// ===================================


*{
  box-sizing: border-box;
}

$sea-ht--sm : 10000px;
$sea-ht--md : 15000px;
$sea-ht--lg : 20000px;

body, html {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	height: $sea-ht;
}

body {
	background: $deep-blue; /* Old browsers */
	background: -moz-linear-gradient(top, white 0%, $deep-blue 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(100%,$deep-blue)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, white 0%, $deep-blue 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, white 0%, $deep-blue 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, white 0%, $deep-blue 100%); /* IE10+ */
	background: linear-gradient(to bottom, white 0%, $deep-blue 100% ); /* W3C */
	position: relative;
	overflow-x: hidden;
	font-family: $font-family--primary;

	&::-webkit-scrollbar {									
		display: none;
	}
}


.main-heading {
	color: $deep-blue;
	font-size: 3em;
	@include mq(medium) {
		font-size: 4em;
	}
	@include mq(large) {
		font-size: 5em;
	}
}

.sea {
	@include e(container) {
		//position: absolute;
		//top: 0;
		//left: 0;
	}
	@include e(inner) {
		position: relative;
		/* The full height of scrollable sea zone */
		height: $sea-ht--sm;
		padding-top: 1px;
		@include mq(medium) {
			height: $sea-ht--md;
		}
		@include mq(large) {
			height: $sea-ht--lg;
		}
	}
}

button { -webkit-tap-highlight-color: transparent; }




