// ====================================
// Creatures
// ===================================

@mixin creature-bgs($bgs...) {
	@each $bg in $bgs {
		&.#{$bg} {
			// background: url('../img/#{$bg}.png') no-repeat center;
			background-size: 100%;
		}
	}
}

.creature {
	@include box(300px);
	@include transition($tn-norm: all 1s);
	position: absolute;
	z-index: 420;

	
	@include mq(sm-md) {
		@include transform(translateX(-50%));
		left: 50%;
		/* No animation on sm or md devices */
		@include animation(none);
	}
	@include mq(tablets) {
		@include box(500px);
	}
	@include mq(large) {
		@include box(600px);
		/* Animate sea animals on larger devices */
		@include animation(bob 3s infinite);

		
	
		&.right-offset {
			/* First two animals float in from the right on lg devices */
			left: 100%;
			&.past { left: 50%; }
		}
		&.left-offset {
			/* Last three animals float in from the left on lg devices */
			right: 100%;
			left: initial;
			&.past { right: 50%; }
		}
	}

	@include creature-bgs(seahorse, turtle, clown, humpback-whale, frilled-shark);
	
}


$creatures  : 5;
$offsetTop	: 15;

@for $i from 1 through $creatures {
	.creature--#{$i} {
		/* Each animal is 15% deeper than the one before it */
		top: #{$offsetTop};
	}
	$offsetTop:	$offsetTop + 15;
} 

/* Bobbing/swaying animation for animals on lg screens */
@include keyframes-pfx(bob, 50%, translate3d(-20px, -2px, 0));








