// ======
// Modules
// ================================

// Sea 
.sea {
	&__container {
		position: fixed;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;

		&::-webkit-scrollbar {
			width: 0px;
		}

		&.no-scroll {
			overflow-y: hidden;
		}
	}

	&__scrollarea {
		position: relative;
		height: $sea-height-sm;
		background: $deep-blue; /* old browsers */
		background: linear-gradient(to bottom, white 0%, $deep-blue 100% ); 

		@include mq(md) {
			height: $sea-height-md;
		}
		@include mq(lg) {
			height: $sea-height-lg;
		}
	}
}

.seaweed {
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto;
	transition: transform 0.1;

	&--brown {
		width: 55%;
	}

	&--blue {
		width: 80%;
	}

	&--yellow {
		width: 85%;
	}

	&--green {
		width: 95%;
	}

	svg {
		width: 100%;
		height: auto;
	}
}

// Creatures
// @mixin creature-bgs($bgs...) {
// 	@each $bg in $bgs {
// 		&.#{$bg} {
// 			background: url('../img/#{$bg}.png') no-repeat center;
// 			background-size: 100%;
// 		}
// 	}
// }

.creature {
	@include square(remcalc(300));
	transition: all 1s;
	position: absolute;
	z-index: 420;
	// @include creature-bgs(seahorse, turtle, clown, humpback-whale, frilled-shark);
	
	@include mq(xs) {
		left: 50%;
		transform: translateX(-50%);
	}

	@include mq(md) {
		@include square(remcalc(500));
	}

	@include mq(lg) {
		@include square(remcalc(600));
		animation: bob 3s infinite;

		&.right-offset {
			left: 100%;

			&.past { 
				left: 50%; 
			}
		}

		&.left-offset {
			right: 100%;
			left: initial;

			&.past { 
				right: 50%; 
			}
		}
	}
}

// $creatures: 5;
// $offsetTop: 15;

// @for $i from 1 through $creatures {
// 	.creature--#{$i} {
// 		 Each animal is 15% deeper than the one before it 
// 		top: #{$offsetTop}%;
// 	}
// 	$offsetTop:	$offsetTop + 15;
// } 

/* Bobbing/swaying animation for animals on lg screens */
@keyframes bob {
	50% {
		transform: translate3d(-remcalc(20), -remcalc(2), 0);
	} 
}










