// ======
// Modules
// ================================

// Sea 
.sea {
  &__container {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 0px;
    }

    &.no-scroll {
      overflow-y: hidden;
    }
  }

  &__scrollarea {
    position: relative;
    height: $sea-height-sm;
    background: $deep-blue; /* old browsers */
    background: linear-gradient(to bottom, white 0%, $deep-blue 100% ); 

    @include mq(md) {
      height: $sea-height-md;
    }
    @include mq(lg) {
      height: $sea-height-lg;
    }
  }
}

.seaweed {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform $transition-duration;

  &--brown {
    z-index: $submarine-z-index - 1;
    width: 55%;
  }

  &--blue {
    z-index: $submarine-z-index - 1;
    width: 80%;
  }

  &--yellow {
    z-index: $submarine-z-index - 1;
    width: 85%;
  }

  &--green {
    z-index: $submarine-z-index + 2;
    width: 95%;
  }

  svg {
    width: 100%;
    height: auto;
  }
}

.submarine {
  display: block;
  width: remcalc(200);
  height: remcalc(100);
  position: fixed;
  left: 0%;
  bottom: remcalc(5);
  z-index: $submarine-z-index;
  transition: transform $transition-duration;

  @include mq(md) {
    width: remcalc(300);
    height: remcalc(200);
  }

  @include mq(lg) {
    width: remcalc(350);
    height: remcalc(250);
  }

  svg {
    max-width: 100%;
    max-height: 100%;
  }
}

.creature {
  position: absolute;
  z-index: $submarine-z-index + 1;
  @include square(remcalc(300));
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 1s;
  
  @include mq(xs) {
    left: 33%;
  }

  @include mq(md) {
    @include square(remcalc(500));
  }

  @include mq(lg) {
    animation: bob 3s infinite;
  }
}

@keyframes bob {
  50% {
    transform: translate3d(-15px, -5px, 0);
  } 
}

.dialogue {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $submarine-z-index + 3;
  width: 100%;
  height: 100%;
  background-color: transparentize($deep-blue, 0.75);
  transition: all $transition-duration;

  &--active {
    background-color: transparentize($deep-blue, 0.5);

    .dialogue__window {
      opacity: 1;
    }
  }

  &__window {
    margin: remcalc(20);
    border-radius: remcalc(10);
    max-width: remcalc(600);
    padding: remcalc(30);
    background-color: $quiz-main-colour;
    border: $quiz-accent-colour solid 4px;
    box-shadow: inset 0 0 2px 1px rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity $transition-duration;
  }

  &__button {
    margin-right: remcalc(10);
    outline: none;
    border: none;
    border-radius: remcalc(5);
    min-width: remcalc(100);
    padding: remcalc(10) remcalc(20);
    background-color: $quiz-accent-colour;
    color: $quiz-main-colour;

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &:focus {
      background-color: lighten($quiz-accent-colour, 25%);
    }

    &:disabled {
        background-color: $quiz-accent-colour;
      }

    &--correct {
      background-color: $green;

      &:hover,
      &:focus {
        background-color: darken($green, 25%);
      }

      &:disabled {
        background-color: $green;
      }
    }

    &--incorrect {
      background-color: $red;

      &:hover,
      &:focus {
        background-color: darken($red, 25%);
      }

      &:disabled {
        background-color: $red;
      }
    }
  }
}
