// ====================================
// Submarine - Elucidat code challenge
// ===================================

@import 'utilities/index';

$blue--sea	: rgba(21, 62, 81, .4);

$submarine-offset  : 5px;



// Import partials
@import 'base-layout';

@import 'seaweed';

@import 'creatures';

@import 'quiz';



.submarine {
	@include dimensions(200px, 100px);
	position: fixed;
	left: 0%;
	bottom: 5px;
	// background: url('../img/little-submarine.svg') no-repeat center;
	background-size: 100%;
	z-index: 450;
	@include mq(medium) {
		@include dimensions(300px, 200px);
	}
	@include mq(large) {
		@include dimensions(350px, 250px);
	}

}


